.hidden {
  display: none;
}

body {
  padding: 10vh 0vh;
  display: flex;
  height: 70vh;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  background: 0 0;
  padding: 0;
  color: white;
  text-align: center;
}

input::placeholder {
  text-align: center;
  color: white;
}

#clock {
  font-size: 20vh;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form > input,
#login-form > input:focus,
#todo-form > input,
#todo-form > input:focus {
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid white;
  border-left: 0;
  font-size: 2.25em;
  outline: none;
}

#login-form > input[type="submit"] {
  border: 0;
  background: 0 0;
}
